<html>
<body>

<form>
<input id="the_file" name="file" type="file" />
</form>

<button type="button" onclick="send_req()">Click Me!</button>

</body>
</html>

<script type="text/javascript">
function send_req()
{
	var fileInput = document.getElementById('the_file');
	var file = fileInput.files[0];
	var xhr = new XMLHttpRequest();

	xhr.open('POST', 'http://127.0.0.1:8000/fs/filebrowser/upload/', true);
	xhr.setRequestHeader("X-File-Name","localfolder/new/" + file.name);
	xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");
	xhr.send(file);
}

/*

function send_req()
{
	var fileInput = document.getElementById('the_file');
	var file = fileInput.files[0];
	var xhr = new XMLHttpRequest();
	var formdata = new FormData();

	formdata.append("path","localfolder/new");
	formdata.append("file1",file);
	xhr.open('POST', 'http://127.0.0.1:8000/fs/filebrowser/upload/', true);
	xhr.send(formdata);
}
*/
</script>
